@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #FFF;
  background: linear-gradient(162deg, rgba(2,0,36,1) 0%, rgba(34,34,158,1) 40%, rgba(2,176,212,1) 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
